<div class="main-wrapper">
  <!-- Breadcrumb -->
  <div class="breadcrumb-bar">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col">
          <nav aria-label="breadcrumb" class="page-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="''">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Blank Page
              </li>
            </ol>
          </nav>
          <h2 class="breadcrumb-title">Blank Page</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- /Breadcrumb -->
  <div class="container-fluid">
    <!-- Page Content -->
    <div class="content">
      <div class="container-fluid">
        <div class="content">
          <div class="container-fluid">
            <!-- Doctor Widget -->
            <div class="card">
              <!-- Page Header -->

              <!-- /Page Header -->

              <div class="row">
                <div class="col-sm-12">
                  <!-- Blog Details-->
                  <div class="blog-view">
                    <div class="blog blog-single-post">
                      <div class="blog-image"></div>
                      <h3 class="blog-title">
                        How can i do something ?
                        <i
                          class="fas fa-check-circle verified"
                          style="color: green"
                        ></i>
                      </h3>
                      <div class="blog-info clearfix">
                        <div class="post-left">
                          <ul>
                            <li>
                              <div class="post-author">
                                <a [routerLink]="'/admin/doc-profile'"
                                  ><img
                                    src="assets/img/doctors/doctor-thumb-02.jpg"
                                    alt="Post Author"
                                  />
                                  <span>Partner name</span></a
                                >
                              </div>
                            </li>
                            <li><i class="far fa-calendar"></i>20 oct 2021</li>
                            <li><i class="far fa-comments"></i>12 Comments</li>
                            <li>
                              <i class="fa fa-tags"></i>Tips , category ,
                              hashtag
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="blog-content">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit, sed do eiusmod tempor incididunt ut labore et
                          dolore magna aliqua. Ut enim ad minim veniam, quis
                          nostrud exercitation ullamco laboris nisi ut aliquip
                          ex ea commodo consequat. Duis aute irure dolor in
                          reprehenderit in voluptate velit esse cillum dolore eu
                          fugiat nulla pariatur. Excepteur sint occaecat
                          cupidatat non proident, sunt in culpa qui officia
                          deserunt mollit anim id est laborum.
                        </p>
                        <p>
                          Sed ut perspiciatis unde omnis iste natus error sit
                          voluptatem accusantium doloremque laudantium, totam
                          rem aperiam, eaque ipsa quae ab illo inventore
                          veritatis et quasi architecto beatae vitae dicta sunt
                          explicabo. Nemo enim ipsam voluptatem quia voluptas
                          sit aspernatur aut odit aut fugit, sed quia
                          consequuntur magni dolores eos qui ratione voluptatem
                          sequi nesciunt. Neque porro quisquam est, qui dolorem
                          ipsum quia dolor sit amet, consectetur, adipisci
                          velit, sed quia non numquam eius modi tempora incidunt
                          ut labore et dolore magnam aliquam quaerat voluptatem.
                          Ut enim ad minima veniam, quis nostrum exercitationem
                          ullam corporis suscipit laboriosam, nisi ut aliquid ex
                          ea commodi consequatur? Quis autem vel eum iure
                          reprehenderit qui in ea voluptate velit esse quam
                          nihil molestiae consequatur, vel illum qui dolorem eum
                          fugiat quo voluptas nulla pariatur?
                        </p>
                      </div>
                    </div>

                    <div class="card blog-share clearfix">
                      <div class="card-header">
                        <h4 class="card-title">Share the post</h4>
                      </div>
                      <div class="card-body">
                        <ul class="social-share">
                          <li>
                            <a href="javascript:void(0)" title="Facebook"
                              ><i class="fab fa-facebook"></i
                            ></a>
                          </li>
                          <li>
                            <a href="javascript:void(0)" title="Twitter"
                              ><i class="fab fa-twitter"></i
                            ></a>
                          </li>
                          <li>
                            <a href="javascript:void(0)" title="Linkedin"
                              ><i class="fab fa-linkedin"></i
                            ></a>
                          </li>
                          <li>
                            <a href="javascript:void(0)" title="Google Plus"
                              ><i class="fab fa-google-plus"></i
                            ></a>
                          </li>
                          <li>
                            <a href="javascript:void(0)" title="Youtube"
                              ><i class="fab fa-youtube"></i
                            ></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="card author-widget clearfix">
                      <div class="card-header">
                        <h4 class="card-title">Officials reply</h4>
                      </div>
                      <div class="card-body">
                        <div class="blog blog-single-post">
                          <div class="blog-image"></div>
                          <h3 class="blog-title">How can i do something</h3>
                          <div class="blog-info clearfix">
                            <div class="post-left">
                              <ul>
                                <li>
                                  <div class="post-author">
                                    <a [routerLink]="'/admin/doc-profile'"
                                      ><img
                                        src="assets/img/doctors/doctor-thumb-02.jpg"
                                        alt="Post Author"
                                      />
                                      <span>Admin name</span></a
                                    >
                                  </div>
                                </li>
                                <li>
                                  <i class="far fa-calendar"></i>20 oct 2021
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="blog-content">
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing
                              elit, sed do eiusmod tempor incididunt ut labore
                              et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut
                              aliquip ex ea commodo consequat. Duis aute irure
                              dolor in reprehenderit in voluptate velit esse
                              cillum dolore eu fugiat nulla pariatur. Excepteur
                              sint occaecat cupidatat non proident, sunt in
                              culpa qui officia deserunt mollit anim id est
                              laborum.
                            </p>
                            <p>
                              Sed ut perspiciatis unde omnis iste natus error
                              sit voluptatem accusantium doloremque laudantium,
                              totam rem aperiam, eaque ipsa quae ab illo
                              inventore veritatis et quasi architecto beatae
                              vitae dicta sunt explicabo. Nemo enim ipsam
                            </p>
                            <div class="clinic-details">
                              <ul class="clinic-gallery" lightbox-group>
                                <li *ngFor="let image of images">
                                  <a
                                    ><img
                                      [src]="image.path"
                                      lightbox
                                      style="height: 190px; width: 190px"
                                  /></a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card blog-comments clearfix">
                      <div class="card-header">
                        <h4 class="card-title">Comments (12)</h4>
                      </div>
                      <div class="card-body pb-0">
                        <ul class="comments-list">
                          <li>
                            <div class="comment">
                              <div class="comment-author">
                                <img
                                  class="avatar"
                                  alt=""
                                  src="assets/img/patients/patient4.jpg"
                                />
                              </div>
                              <div class="comment-block">
                                <span class="comment-by">
                                  <span class="blog-author-name"
                                    >Michelle Fairfax</span
                                  >
                                </span>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipiscing elit. Nam viverra euismod odio,
                                  gravida pellentesque urna varius vitae,
                                  gravida pellentesque urna varius vitae. Lorem
                                  ipsum dolor sit amet, consectetur adipiscing
                                  elit.
                                </p>
                                <p class="blog-date">Dec 6, 2017</p>
                                <a
                                  class="comment-btn"
                                  href="javascript:void(0)"
                                >
                                  <i class="fas fa-reply"></i> Reply
                                </a>
                              </div>
                            </div>
                            <ul class="comments-list reply">
                              <li>
                                <div class="comment">
                                  <div class="comment-author">
                                    <img
                                      class="avatar"
                                      alt=""
                                      src="assets/img/patients/patient5.jpg"
                                    />
                                  </div>
                                  <div class="comment-block">
                                    <span class="comment-by">
                                      <span class="blog-author-name"
                                        >Gina Moore</span
                                      >
                                    </span>
                                    <p>
                                      Lorem ipsum dolor sit amet, consectetur
                                      adipiscing elit. Nam viverra euismod odio,
                                      gravida pellentesque urna varius vitae,
                                      gravida pellentesque urna varius vitae.
                                    </p>
                                    <p class="blog-date">Dec 6, 2017</p>
                                    <a
                                      class="comment-btn"
                                      href="javascript:void(0)"
                                    >
                                      <i class="fas fa-reply"></i> Reply
                                    </a>
                                  </div>
                                </div>
                              </li>
                              <li>
                                <div class="comment">
                                  <div class="comment-author">
                                    <img
                                      class="avatar"
                                      alt=""
                                      src="assets/img/patients/patient3.jpg"
                                    />
                                  </div>
                                  <div class="comment-block">
                                    <span class="comment-by">
                                      <span class="blog-author-name"
                                        >Carl Kelly</span
                                      >
                                    </span>
                                    <p>
                                      Lorem ipsum dolor sit amet, consectetur
                                      adipiscing elit. Nam viverra euismod odio,
                                      gravida pellentesque urna varius vitae,
                                      gravida pellentesque urna varius vitae.
                                    </p>
                                    <p class="blog-date">December 7, 2017</p>
                                    <a
                                      class="comment-btn"
                                      href="javascript:void(0)"
                                    >
                                      <i class="fas fa-reply"></i> Reply
                                    </a>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <div class="comment">
                              <div class="comment-author">
                                <img
                                  class="avatar"
                                  alt=""
                                  src="assets/img/patients/patient6.jpg"
                                />
                              </div>
                              <div class="comment-block">
                                <span class="comment-by">
                                  <span class="blog-author-name"
                                    >Elsie Gilley</span
                                  >
                                </span>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipiscing elit.
                                </p>
                                <p class="blog-date">December 11, 2017</p>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="comment">
                              <div class="comment-author">
                                <img
                                  class="avatar"
                                  alt=""
                                  src="assets/img/patients/patient7.jpg"
                                />
                              </div>
                              <div class="comment-block">
                                <span class="comment-by">
                                  <span class="blog-author-name"
                                    >Joan Gardner</span
                                  >
                                </span>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipiscing elit.
                                </p>
                                <p class="blog-date">December 13, 2017</p>
                                <a
                                  class="comment-btn"
                                  href="javascript:void(0)"
                                >
                                  <i class="fas fa-reply"></i> Reply
                                </a>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="card new-comment clearfix">
                      <div class="card-header">
                        <h4 class="card-title">Leave Comment</h4>
                      </div>
                      <div class="card-body">
                        <form>
                          <div class="form-group">
                            <label
                              >Name <span class="text-danger">*</span></label
                            >
                            <input type="text" class="form-control" />
                          </div>
                          <div class="form-group">
                            <label
                              >Your Email Address
                              <span class="text-danger">*</span></label
                            >
                            <input type="email" class="form-control" />
                          </div>
                          <div class="form-group">
                            <label>Comments</label>
                            <textarea rows="4" class="form-control"></textarea>
                          </div>
                          <div class="submit-section">
                            <button
                              class="btn btn-primary submit-btn"
                              type="submit"
                            >
                              Submit
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <!-- /Blog Details-->
                </div>
              </div>
            </div>
            <!-- /Doctor Widget -->

            <!-- Doctor Details Tab -->

            <!-- /Doctor Details Tab -->
          </div>
        </div>
      </div>
    </div>
    <!-- /Page Content -->
  </div>
</div>
