<div class="main-wrapper">
  <div class="container-fluid">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="sec-header">
              <h2>
                {{
                  "choose_register_page_plateform.choose_register_page_plateform_1"
                    | translate
                }}
              </h2>
              <span class="bottom-border"></span>
            </div>
          </div>
        </div>
        <section class="our-blog-section">
          <div class="container">
            <div class="content">
              <div
                class="container-fluid"
                style="padding-left: 0px; padding-right: 0px"
              >
                <div class="card" style="border: 0px solid #f0f0f0">
                  <div class="card-body" style="display: contents">
                    <section class="patient-select">
                      <div class="container" style="width: 100%">
                        <div class="row">
                          <div class="col-md-6" style="width: fit-content">
                            <div
                              class="select-box theme"
                              style="width: fit-content !important"
                            >
                              <div class="d-flex align-items-center">
                                <div class="image-holder">
                                  <span>
                                    <img
                                      src="assets/img/icons/partner.png"
                                      alt=""
                                    />
                                  </span>
                                </div>
                                <div>
                                  <h2>
                                    {{
                                      "home_page_plateform.home_page_plateform_18"
                                        | translate
                                    }}
                                  </h2>
                                  <p style="min-height: 114px">
                                    {{
                                      "choose_register_page_plateform.choose_register_page_plateform_3"
                                        | translate
                                    }}
                                  </p>
                                  <a
                                    [routerLink]="'/pre-register_partner'"
                                    class="book-now"
                                    >{{
                                      "home_page_plateform.home_page_plateform_17"
                                        | translate
                                    }}
                                    <span style="margin-left: 3px">
                                      <i class="fas fa-arrow-right"></i></span
                                  ></a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6" style="width: fit-content">
                            <div
                              class="select-box"
                              style="width: fit-content !important"
                            >
                              <div class="d-flex align-items-center">
                                <div class="image-holder">
                                  <span>
                                    <img
                                      src="assets/img/icons/customer.png"
                                      alt=""
                                    />
                                  </span>
                                </div>
                                <div>
                                  <h2>
                                    {{
                                      "home_page_plateform.home_page_plateform_15"
                                        | translate
                                    }}
                                  </h2>
                                  <p
                                    style="
                                      min-height: 114px;
                                      margin-bottom: 30px;
                                    "
                                  >
                                    {{
                                      "choose_register_page_plateform.choose_register_page_plateform_2"
                                        | translate
                                    }}
                                  </p>
                                  <a [routerLink]="'/Register'" class="book-now"
                                    >{{
                                      "home_page_plateform.home_page_plateform_17"
                                        | translate
                                    }}
                                    <span style="margin-left: 3px">
                                      <i class="fas fa-arrow-right"></i></span
                                  ></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                    <div class="col-md-12">
                      <div class="sec-header">
                        <h6
                          href="javascript:void(0)"
                          [routerLink]="['/login-page']"
                          routerLinkActive="router-link-active"
                        >
                          {{
                            "register_partner_page_plateform.register_partner_page_plateform_12"
                              | translate
                          }}
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
