<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="''">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Legal informations
            </li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Legal informations</h2>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="terms-content" [innerHTML]="pageinfos.en"></div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->
