<div class="row">
  <div class="col-12 col-md-6 col-lg-4 col-xl-4 patient-dashboard-top">
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-3">
          <img
            src="assets/img/specialities/services-provided.png"
            alt=""
            width="55"
          />
        </div>
        <h5>Services provided</h5>
        <h6>{{ provided }}</h6>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-4 patient-dashboard-top">
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-3">
          <img
            src="assets/img/specialities/pending-requests.png"
            alt=""
            width="55"
          />
        </div>
        <h5>Pending requests</h5>
        <h6>{{ pending }}</h6>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-4 patient-dashboard-top">
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-3">
          <img src="assets/img/specialities/partners.png" alt="" width="55" />
        </div>
        <h5>Partners worked with</h5>
        <h6>{{ comprelated }}</h6>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body pt-0">
    <!-- Tab Menu -->
    <nav class="user-tabs mb-4">
      <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
        <li class="nav-item">
          <a class="nav-link active" href="#pat_appointments" data-toggle="tab"
            >Pending request</a
          >
        </li>
        <!--  <li class="nav-item">
          <a class="nav-link" href="#pat_prescriptions" data-toggle="tab"
            >Prescriptions</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pat_medical_records" data-toggle="tab"
            ><span class="med-records">Medical Records</span></a
          >
        </li>-->
        <li class="nav-item">
          <a class="nav-link" href="#pat_billing" data-toggle="tab">Billing</a>
        </li>
      </ul>
    </nav>
    <!-- /Tab Menu -->

    <!-- Tab Content -->
    <div class="tab-content pt-0">
      <!-- Appointment Tab -->
      <div id="pat_appointments" class="tab-pane fade show active">
        <div class="card card-table mb-0">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover table-center mb-0">
                <thead>
                  <tr>
                    <th>Reference</th>
                    <th>Partner</th>
                    <th>Request Date</th>
                    <th>Amount</th>

                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of penginglist">
                    <td>ID21100-2</td>
                    <td>
                      <h2 class="table-avatar">
                        <a
                          [routerLink]="'/patients/doctor-profile'"
                          class="avatar avatar-sm mr-2"
                        >
                          <img
                            class="avatar-img rounded-circle"
                            src="assets/img/doctors/doctor-thumb-03.jpg"
                            alt="User Image"
                          />
                        </a>
                        <a [routerLink]="'/patients/doctor-profile'"
                          >{{ item.jobberAccepted.company_name }}
                          <span>{{
                            item.jobberAccepted.main_category
                          }}</span></a
                        >
                      </h2>
                    </td>

                    <td>{{ item.createdAt | date: "medium" }}</td>
                    <td>-</td>

                    <td>
                      <span class="badge badge-pill bg-warning-light"
                        >pending</span
                      >
                    </td>
                    <td class="text-right">
                      <div class="table-action">
                        <a
                          href="javascript:void(0);"
                          class="btn btn-sm bg-info-light"
                        >
                          <i class="far fa-eye"></i> View
                        </a>
                        <a
                          href="javascript:void(0);"
                          class="btn btn-sm bg-danger-light"
                        >
                          <i class="fas fa-times"></i> Cancel
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Billing Tab -->
      <div id="pat_billing" class="tab-pane fade">
        <div class="card card-table mb-0">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover table-center mb-0">
                <thead>
                  <tr>
                    <th>Reference</th>
                    <th>Partner</th>
                    <th>Amount</th>
                    <th>Paid On</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a [routerLink]="'/invoice-details'">#INV-0010</a>
                    </td>
                    <td>
                      <h2 class="table-avatar">
                        <a
                          [routerLink]="'/patients/doctor-profile'"
                          class="avatar avatar-sm mr-2"
                        >
                          <img
                            class="avatar-img rounded-circle"
                            src="assets/img/doctors/doctor-thumb-01.jpg"
                            alt="User Image"
                          />
                        </a>
                        <a [routerLink]="'/patients/doctor-profile'"
                          >Ruby Perrin <span>Dental</span></a
                        >
                      </h2>
                    </td>
                    <td>$450</td>
                    <td>14 Nov 2019</td>
                    <td class="text-right">
                      <div class="table-action">
                        <a
                          [routerLink]="'/invoice-details'"
                          class="btn btn-sm bg-info-light"
                        >
                          <i class="far fa-eye"></i> View
                        </a>
                        <a
                          href="javascript:void(0);"
                          class="btn btn-sm bg-primary-light"
                        >
                          <i class="fas fa-print"></i> Print
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a [routerLink]="'/invoice-details'">#INV-0009</a>
                    </td>
                    <td>
                      <h2 class="table-avatar">
                        <a
                          [routerLink]="'/patients/doctor-profile'"
                          class="avatar avatar-sm mr-2"
                        >
                          <img
                            class="avatar-img rounded-circle"
                            src="assets/img/doctors/doctor-thumb-02.jpg"
                            alt="User Image"
                          />
                        </a>
                        <a [routerLink]="'/patients/doctor-profile'"
                          >Dr. Darren Elder <span>Dental</span></a
                        >
                      </h2>
                    </td>
                    <td>$300</td>
                    <td>13 Nov 2019</td>
                    <td class="text-right">
                      <div class="table-action">
                        <a
                          [routerLink]="'/invoice-details'"
                          class="btn btn-sm bg-info-light"
                        >
                          <i class="far fa-eye"></i> View
                        </a>
                        <a
                          href="javascript:void(0);"
                          class="btn btn-sm bg-primary-light"
                        >
                          <i class="fas fa-print"></i> Print
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /Billing Tab -->
    </div>
    <!-- Tab Content -->
  </div>
</div>
