<!-- Page Content -->
<div class="content">
  <div class="container-fluid">
    <main class="content">
      <div class="container p-0" style="max-width: 90%">
        <div class="card">
          <div class="row g-0">
            <div class="col-2 col-lg-5 col-xl-3 border-right">
              <div class="px-4 d-none d-md-block">
                <div class="d-flex align-items-center">
                  <div class="flex-grow-1">
                    <input
                      type="text"
                      class="form-control my-3"
                      placeholder="Search..."
                    />
                  </div>
                </div>
              </div>

              <a
                href="#"
                class="list-group-item list-group-item-action border-0"
              >
                <div class="badge bg-success float-right">5</div>
                <div class="d-flex align-items-start">
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar5.png"
                    class="rounded-circle mr-1"
                    alt="Vanessa Tucker"
                    width="40"
                    height="40"
                  />
                  <div class="flex-grow-1 ml-3">Foulen ben foulen</div>
                </div>
              </a>

              <a
                href="#"
                class="list-group-item list-group-item-action border-0"
                style="background-color: lightgray"
              >
                <div class="d-flex align-items-start">
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar3.png"
                    class="rounded-circle mr-1"
                    alt="Jennifer Chang"
                    width="40"
                    height="40"
                  />
                  <div class="flex-grow-1 ml-3">Foulena ben foulena</div>
                </div>
              </a>
              <a
                href="#"
                class="list-group-item list-group-item-action border-0"
                id="showw"
              >
                <div class="view-all text-center">
                  <a
                    href="blog-list.html"
                    class="btn btn-primary"
                    style="
                      margin-top: -1px;
                      font-size: 16px;
                      font-weight: 400;
                      padding: 2px 30px;
                    "
                    >Show more</a
                  >
                </div>
              </a>
              <hr class="d-block d-lg-none mt-1 mb-0" />
            </div>
            <div class="col-12 col-lg-7 col-xl-9">
              <div class="py-2 px-4 border-bottom d-none d-lg-block">
                <div class="d-flex align-items-center py-1">
                  <div class="position-relative">
                    <img
                      src="https://bootdey.com/img/Content/avatar/avatar3.png"
                      class="rounded-circle mr-1"
                      alt="Foulena ben foulena"
                      width="40"
                      height="40"
                    />
                  </div>
                  <div class="flex-grow-1 pl-3">
                    <strong>Foulena ben foulena</strong>
                  </div>
                </div>
              </div>

              <div class="position-relative">
                <div class="chat-messages p-4">
                  <div class="chat-message-right pb-4">
                    <div>
                      <img
                        src="https://bootdey.com/img/Content/avatar/avatar1.png"
                        class="rounded-circle mr-1"
                        alt="Chris Wood"
                        width="40"
                        height="40"
                      />
                      <div class="text-muted small text-nowrap mt-2">
                        2:33 am
                      </div>
                    </div>
                    <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                      <div class="font-weight-bold mb-1">You</div>
                      Lorem ipsum dolor sit amet, vis erat denique in, dicunt
                      prodesset te vix.
                    </div>
                  </div>

                  <div class="chat-message-left pb-4">
                    <div>
                      <img
                        src="https://bootdey.com/img/Content/avatar/avatar3.png"
                        class="rounded-circle mr-1"
                        alt="Foulena ben foulena"
                        width="40"
                        height="40"
                      />
                      <div class="text-muted small text-nowrap mt-2">
                        2:34 am
                      </div>
                    </div>
                    <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                      <div class="font-weight-bold mb-1">
                        Foulena ben foulena
                      </div>
                      Sit meis deleniti eu, pri vidit meliore docendi ut, an eum
                      erat animal commodo.
                    </div>
                  </div>

                  <div class="chat-message-right mb-4">
                    <div>
                      <img
                        src="https://bootdey.com/img/Content/avatar/avatar1.png"
                        class="rounded-circle mr-1"
                        alt="Chris Wood"
                        width="40"
                        height="40"
                      />
                      <div class="text-muted small text-nowrap mt-2">
                        2:35 am
                      </div>
                    </div>
                    <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                      <div class="font-weight-bold mb-1">You</div>
                      Cum ea graeci tractatos.
                    </div>
                  </div>

                  <div class="chat-message-left pb-4">
                    <div>
                      <img
                        src="https://bootdey.com/img/Content/avatar/avatar3.png"
                        class="rounded-circle mr-1"
                        alt="Foulena ben foulena"
                        width="40"
                        height="40"
                      />
                      <div class="text-muted small text-nowrap mt-2">
                        2:36 am
                      </div>
                    </div>
                    <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                      <div class="font-weight-bold mb-1">
                        Foulena ben foulena
                      </div>
                      Sed pulvinar, massa vitae interdum pulvinar, risus lectus
                      porttitor magna, vitae commodo lectus mauris et velit.
                      Proin ultricies placerat imperdiet. Morbi varius quam ac
                      venenatis tempus.
                    </div>
                  </div>

                  <div class="chat-message-left pb-4">
                    <div>
                      <img
                        src="https://bootdey.com/img/Content/avatar/avatar3.png"
                        class="rounded-circle mr-1"
                        alt="Foulena ben foulena"
                        width="40"
                        height="40"
                      />
                      <div class="text-muted small text-nowrap mt-2">
                        2:37 am
                      </div>
                    </div>
                    <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                      <div class="font-weight-bold mb-1">
                        Foulena ben foulena
                      </div>
                      Cras pulvinar, sapien id vehicula aliquet, diam velit
                      elementum orci.
                    </div>
                  </div>

                  <div class="chat-message-right mb-4">
                    <div>
                      <img
                        src="https://bootdey.com/img/Content/avatar/avatar1.png"
                        class="rounded-circle mr-1"
                        alt="Chris Wood"
                        width="40"
                        height="40"
                      />
                      <div class="text-muted small text-nowrap mt-2">
                        2:38 am
                      </div>
                    </div>
                    <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                      <div class="font-weight-bold mb-1">You</div>
                      Lorem ipsum dolor sit amet, vis erat denique in, dicunt
                      prodesset te vix.
                    </div>
                  </div>

                  <div class="chat-message-left pb-4">
                    <div>
                      <img
                        src="https://bootdey.com/img/Content/avatar/avatar3.png"
                        class="rounded-circle mr-1"
                        alt="Foulena ben foulena"
                        width="40"
                        height="40"
                      />
                      <div class="text-muted small text-nowrap mt-2">
                        2:39 am
                      </div>
                    </div>
                    <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                      <div class="font-weight-bold mb-1">
                        Foulena ben foulena
                      </div>
                      Sit meis deleniti eu, pri vidit meliore docendi ut, an eum
                      erat animal commodo.
                    </div>
                  </div>

                  <div class="chat-message-right mb-4">
                    <div>
                      <img
                        src="https://bootdey.com/img/Content/avatar/avatar1.png"
                        class="rounded-circle mr-1"
                        alt="Chris Wood"
                        width="40"
                        height="40"
                      />
                      <div class="text-muted small text-nowrap mt-2">
                        2:40 am
                      </div>
                    </div>
                    <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                      <div class="font-weight-bold mb-1">You</div>
                      Cum ea graeci tractatos.
                    </div>
                  </div>

                  <div class="chat-message-right mb-4">
                    <div>
                      <img
                        src="https://bootdey.com/img/Content/avatar/avatar1.png"
                        class="rounded-circle mr-1"
                        alt="Chris Wood"
                        width="40"
                        height="40"
                      />
                      <div class="text-muted small text-nowrap mt-2">
                        2:41 am
                      </div>
                    </div>
                    <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                      <div class="font-weight-bold mb-1">You</div>
                      Morbi finibus, lorem id placerat ullamcorper, nunc enim
                      ultrices massa, id dignissim metus urna eget purus.
                    </div>
                  </div>

                  <div class="chat-message-left pb-4">
                    <div>
                      <img
                        src="https://bootdey.com/img/Content/avatar/avatar3.png"
                        class="rounded-circle mr-1"
                        alt="Foulena ben foulena"
                        width="40"
                        height="40"
                      />
                      <div class="text-muted small text-nowrap mt-2">
                        2:42 am
                      </div>
                    </div>
                    <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                      <div class="font-weight-bold mb-1">
                        Foulena ben foulena
                      </div>
                      Sed pulvinar, massa vitae interdum pulvinar, risus lectus
                      porttitor magna, vitae commodo lectus mauris et velit.
                      Proin ultricies placerat imperdiet. Morbi varius quam ac
                      venenatis tempus.
                    </div>
                  </div>

                  <div class="chat-message-right mb-4">
                    <div>
                      <img
                        src="https://bootdey.com/img/Content/avatar/avatar1.png"
                        class="rounded-circle mr-1"
                        alt="Chris Wood"
                        width="40"
                        height="40"
                      />
                      <div class="text-muted small text-nowrap mt-2">
                        2:43 am
                      </div>
                    </div>
                    <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                      <div class="font-weight-bold mb-1">You</div>
                      Lorem ipsum dolor sit amet, vis erat denique in, dicunt
                      prodesset te vix.
                    </div>
                  </div>

                  <div class="chat-message-left pb-4">
                    <div>
                      <img
                        src="https://bootdey.com/img/Content/avatar/avatar3.png"
                        class="rounded-circle mr-1"
                        alt="Foulena ben foulena"
                        width="40"
                        height="40"
                      />
                      <div class="text-muted small text-nowrap mt-2">
                        2:44 am
                      </div>
                    </div>
                    <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                      <div class="font-weight-bold mb-1">
                        Foulena ben foulena
                      </div>
                      Sit meis deleniti eu, pri vidit meliore docendi ut, an eum
                      erat animal commodo.
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex-grow-0 py-3 px-4 border-top">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Type your message"
                  />
                  <button
                    class="btn btn-primary"
                    style="
                      background-color: #009fe3 !important ;
                      margin-left: 5px;
                    "
                  >
                    <i class="fa fa-reply"></i> Reply
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- /Row -->
  </div>
</div>
<!-- /Page Content -->
