<!-- Footer -->
<footer class="footer">
  <!-- Footer Top -->
  <div class="footer-top">
    <div class="container-fluid"></div>
  </div>

  <div class="footer-bottom">
    <div class="container-fluid">
      <div class="copyright">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <div class="copyright-text">
              <p class="mb-0">Copyright &copy; TanDuu</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="copyright-menu">
              <ul class="policy-menu">
                <li>
                  <a>Terms for customers</a>
                </li>
                <li>
                  <a href="/conditions/conditions_jobbers" target="_blank"
                    >Terms for jobbers</a
                  >
                </li>
                <li><a href="/privacy/policy">Privacy and policy</a></li>
                <li>
                  <a (click)="goToLink()">e</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Footer Bottom -->
</footer>
<!-- /Footer -->
