@import './../../assets/admin/css/bootstrap.min.css';

@import './../../assets/admin/css/font-awesome.min.css';

@import './../../assets/admin/css/style.css';
.label-required
{
    color:  red;
}

.form-label
{
    font-weight: bold;
    font-size: 15px;
}
 .red {
     color: crimson;
 }