<!-- Footer -->
<footer class="footer">
  <div class="footer-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <!-- Footer Widget -->
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">
              {{
                "footer_section_plateform.footer_section_plateform_1"
                  | translate
              }}
            </h2>
            <ul>
              <li>
                <a
                  [routerLink]="['/About-us']"
                  routerLinkActive="router-link-active"
                  target="_blank"
                  style="cursor: pointer"
                  >{{
                    "footer_section_plateform.footer_section_plateform_2"
                      | translate
                  }}</a
                >
              </li>
              <li [routerLink]="'/blog'" [queryParams]="{ page: 1 }">
                <a style="cursor: pointer">Blogs</a>
              </li>

              <li
                [routerLink]="['/askforservice']"
                routerLinkActive="router-link-active"
              >
                <a style="cursor: pointer">{{
                  "footer_section_plateform.footer_section_plateform_3"
                    | translate
                }}</a>
              </li>
              <li
                [routerLink]="['/pre-register_partner']"
                routerLinkActive="router-link-active"
              >
                <a style="cursor: pointer">{{
                  "footer_section_plateform.footer_section_plateform_4"
                    | translate
                }}</a>
              </li>

              <li>
                <a style="cursor: pointer">{{
                  "footer_section_plateform.footer_section_plateform_5"
                    | translate
                }}</a>
              </li>
              <li>
                <a style="cursor: pointer">{{
                  "footer_section_plateform.footer_section_plateform_6"
                    | translate
                }}</a>
              </li>
            </ul>
          </div>
          <!-- /Footer Widget -->
        </div>

        <div class="col-lg-3 col-md-6">
          <!-- Footer Widget -->
          <div class="footer-widget footer-about">
            <div class="footer-logo">
              <img src="assets/img/logo3.png" alt="logo" width="160px" />
            </div>
            <div class="footer-about-content">
              <p style="cursor: pointer">
                {{
                  "footer_section_plateform.footer_section_plateform_13"
                    | translate
                }}
              </p>
            </div>
            <div class="footer-widget footer-contact mt-4">
              <h2 class="footer-title">
                {{
                  "footer_section_plateform.footer_section_plateform_7"
                    | translate
                }}
              </h2>
              <div class="footer-contact-info">
                <div class="footer-address">
                  <span><i class="fas fa-map-marker-alt"></i></span>
                  <p style="font-size: 11px" style="cursor: pointer">
                    2880W OAKLAND PARK BLVD,SUITE 225C<br />
                    OAKLAND PARKS FL, US 33311
                  </p>
                </div>

                <p class="mb-0" style="font-size: 11px" style="cursor: pointer">
                  <i class="fas fa-envelope"></i>
                  info@tanduu.com
                </p>
              </div>
            </div>
          </div>
          <!-- /Footer Widget -->
        </div>

        <div class="col-lg-3 col-md-6">
          <!-- Footer Widget -->
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">
              {{
                "footer_section_plateform.footer_section_plateform_8"
                  | translate
              }}
            </h2>
            <ul>
              <li>
                <a [routerLink]="'/login-page'" style="cursor: pointer">{{
                  "footer_section_plateform.footer_section_plateform_9"
                    | translate
                }}</a>
              </li>
              <li>
                <a [routerLink]="'/Register'" style="cursor: pointer">{{
                  "footer_section_plateform.footer_section_plateform_10"
                    | translate
                }}</a>
              </li>
              <li>
                <a
                  [routerLink]="['/askforservice']"
                  routerLinkActive="router-link-active"
                  style="cursor: pointer"
                  >{{
                    "footer_section_plateform.footer_section_plateform_11"
                      | translate
                  }}</a
                >
              </li>
              <li>
                <a style="cursor: pointer">{{
                  "footer_section_plateform.footer_section_plateform_12"
                    | translate
                }}</a>
              </li>
            </ul>
          </div>
          <!-- /Footer Widget -->
        </div>

        <div class="col-lg-3 col-md-6">
          <!-- Footer Widget -->
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">
              {{
                "footer_section_plateform.footer_section_plateform_14"
                  | translate
              }}
            </h2>
            <ul>
              <li>
                <a
                  [routerLink]="['/pre-register_partner']"
                  routerLinkActive="router-link-active"
                  style="cursor: pointer"
                  >{{
                    "footer_section_plateform.footer_section_plateform_15"
                      | translate
                  }}</a
                >
              </li>
              <li>
                <a style="cursor: pointer">{{
                  "footer_section_plateform.footer_section_plateform_22"
                    | translate
                }}</a>
              </li>
              <li>
                <a [routerLink]="'/login-page'" style="cursor: pointer">{{
                  "footer_section_plateform.footer_section_plateform_9"
                    | translate
                }}</a>
              </li>
              <li>
                <a [routerLink]="'/register_partner'" style="cursor: pointer">{{
                  "footer_section_plateform.footer_section_plateform_10"
                    | translate
                }}</a>
              </li>
            </ul>
          </div>
          <!-- /Footer Widget -->
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container-fluid">
      <div class="copyright">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <div class="copyright-text">
              <p class="mb-0">
                {{
                  "footer_section_plateform.footer_section_plateform_17"
                    | translate
                }}
                &copy; TanDuu LLC
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="copyright-menu">
              <ul class="policy-menu">
                <li>
                  <a
                    [routerLink]="['/customerterms']"
                    routerLinkActive="router-link-active"
                    target="_blank"
                    style="cursor: pointer"
                    >{{
                      "footer_section_plateform.footer_section_plateform_18"
                        | translate
                    }}</a
                  >
                </li>
                <li>
                  <a
                    [routerLink]="['/jobbersterms']"
                    routerLinkActive="router-link-active"
                    target="_blank"
                    style="cursor: pointer"
                    >{{
                      "footer_section_plateform.footer_section_plateform_19"
                        | translate
                    }}</a
                  >
                </li>
                <li>
                  <a
                    [routerLink]="['/privacypolicy']"
                    routerLinkActive="router-link-active"
                    target="_blank"
                    style="cursor: pointer"
                    >{{
                      "footer_section_plateform.footer_section_plateform_20"
                        | translate
                    }}</a
                  >
                </li>
                <li>
                  <a
                    [routerLink]="['/legalinfos']"
                    routerLinkActive="router-link-active"
                    target="_blank"
                    style="cursor: pointer"
                    >{{
                      "footer_section_plateform.footer_section_plateform_21"
                        | translate
                    }}</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Footer Bottom -->
</footer>
<!-- /Footer -->
