::ng-deep #gridContainer {
    height: auto;
}

::ng-deep #gridContainer .dx-datagrid-content tr.dx-data-row {
    cursor: pointer;
}

::ng-deep .employeeInfo .employeePhoto {
    height: 140px;
    float: left;
    padding: 20px 20px 20px 0;
}

::ng-deep .employeeInfo .employeeNotes {
    padding-top: 20px;
    text-align: justify;
    white-space: normal;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.dx-datagrid-search-panel .dx-show-invalid-badge .dx-textbox .dx-texteditor .dx-editor-filled .dx-searchbox .dx-show-clear-button .dx-texteditor-empty .dx-widget {
    width: auto !important;
}