<div class="row">
  <div class="col-lg-12 d-flex">
    <div class="card flex-fill">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="account-card bg-success-light">
              <span>$90.48</span> Normal services
            </div>
          </div>
          <div class="col-lg-6">
            <div class="account-card bg-warning-light">
              <span>$0.00</span> Express services
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body pt-0">
        <!-- Tab Menu -->
        <nav class="user-tabs mb-4">
          <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
            <li class="nav-item">
              <a class="nav-link active" href="#pat_accounts" data-toggle="tab"
                >Invoices</a
              >
            </li>
          </ul>
        </nav>
        <!-- /Tab Menu -->

        <!-- Tab Content -->
        <div class="tab-content pt-0">
          <!-- Accounts Tab -->
          <div id="pat_accounts" class="tab-pane fade show active">
            <div class="card card-table mb-0">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover table-center mb-0">
                    <thead>
                      <tr>
                        <th>Invoice No</th>
                        <th>Partner</th>
                        <th>Amount</th>
                        <th>Recieved On</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <a [routerLink]="'/invoice-details'">#INV-0010</a>
                        </td>
                        <td>
                          <h2 class="table-avatar">
                            <a
                              [routerLink]="'/patients/doctor-profile'"
                              class="avatar avatar-sm mr-2"
                            >
                              <img
                                class="avatar-img rounded-circle"
                                src="assets/img/doctors/doctor-thumb-01.jpg"
                                alt="User Image"
                              />
                            </a>
                            <a [routerLink]="'/patients/doctor-profile'"
                              >Ruby Perrin <span>Dental</span></a
                            >
                          </h2>
                        </td>
                        <td>$450</td>
                        <td>14 Nov 2019</td>
                        <td class="text-right">
                          <div class="table-action">
                            <a
                              [routerLink]="'/invoice-details'"
                              class="btn btn-sm bg-info-light"
                            >
                              <i class="far fa-eye"></i> View
                            </a>
                            <a
                              href="javascript:void(0);"
                              class="btn btn-sm bg-primary-light"
                            >
                              <i class="fas fa-print"></i> Print
                            </a>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a [routerLink]="'/invoice-details'">#INV-0009</a>
                        </td>
                        <td>
                          <h2 class="table-avatar">
                            <a
                              [routerLink]="'/patients/doctor-profile'"
                              class="avatar avatar-sm mr-2"
                            >
                              <img
                                class="avatar-img rounded-circle"
                                src="assets/img/doctors/doctor-thumb-02.jpg"
                                alt="User Image"
                              />
                            </a>
                            <a [routerLink]="'/patients/doctor-profile'"
                              >Dr. Darren Elder <span>Dental</span></a
                            >
                          </h2>
                        </td>
                        <td>$300</td>
                        <td>13 Nov 2019</td>
                        <td class="text-right">
                          <div class="table-action">
                            <a
                              [routerLink]="'/invoice-details'"
                              class="btn btn-sm bg-info-light"
                            >
                              <i class="far fa-eye"></i> View
                            </a>
                            <a
                              href="javascript:void(0);"
                              class="btn btn-sm bg-primary-light"
                            >
                              <i class="fas fa-print"></i> Print
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /Accounts Tab -->

          <!-- Refund Request Tab -->
          <div class="tab-pane fade" id="pat_refundrequest">
            <div class="card card-table mb-0">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover table-center mb-0">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Doctor Name</th>
                        <th class="text-center">Amount</th>
                        <th>Status</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          11 Nov 2019
                          <span class="d-block text-info">10.00 AM</span>
                        </td>
                        <td>
                          <h2 class="table-avatar">
                            <a
                              [routerLink]="'/patients/doctor-profile'"
                              class="avatar avatar-sm mr-2"
                            >
                              <img
                                class="avatar-img rounded-circle"
                                src="assets/img/doctors/doctor-thumb-01.jpg"
                                alt="User Image"
                              />
                            </a>
                            <a [routerLink]="'/patients/doctor-profile'"
                              >Dr. Ruby Perrin <span>Dental</span></a
                            >
                          </h2>
                        </td>
                        <td class="text-center">$150</td>
                        <td>
                          <span class="badge badge-pill bg-success-light"
                            >Paid</span
                          >
                        </td>
                        <td class="text-right">
                          <div class="table-action">
                            <a
                              href="javascript:void(0);"
                              class="btn btn-sm bg-info-light"
                            >
                              <i class="far fa-eye"></i> View
                            </a>

                            <a
                              href="javascript:void(0);"
                              class="btn btn-sm bg-success-light"
                            >
                              <i class="fas fa-check"></i> Accept
                            </a>
                            <a
                              href="javascript:void(0);"
                              class="btn btn-sm bg-danger-light"
                            >
                              <i class="fas fa-times"></i> Cancel
                            </a>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          3 Nov 2019
                          <span class="d-block text-info">11.00 AM</span>
                        </td>
                        <td>
                          <h2 class="table-avatar">
                            <a
                              [routerLink]="'/patients/doctor-profile'"
                              class="avatar avatar-sm mr-2"
                            >
                              <img
                                class="avatar-img rounded-circle"
                                src="assets/img/doctors/doctor-thumb-02.jpg"
                                alt="User Image"
                              />
                            </a>
                            <a [routerLink]="'/patients/doctor-profile'"
                              >Dr. Darren Elder <span>Dental</span></a
                            >
                          </h2>
                        </td>
                        <td class="text-center">$200</td>
                        <td>
                          <span class="badge badge-pill bg-success-light"
                            >Paid</span
                          >
                        </td>
                        <td class="text-right">
                          <div class="table-action">
                            <a
                              href="javascript:void(0);"
                              class="btn btn-sm bg-info-light"
                            >
                              <i class="far fa-eye"></i> View
                            </a>

                            <a
                              href="javascript:void(0);"
                              class="btn btn-sm bg-success-light"
                            >
                              <i class="fas fa-check"></i> Accept
                            </a>
                            <a
                              href="javascript:void(0);"
                              class="btn btn-sm bg-danger-light"
                            >
                              <i class="fas fa-times"></i> Cancel
                            </a>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          1 Nov 2019
                          <span class="d-block text-info">1.00 PM</span>
                        </td>
                        <td>
                          <h2 class="table-avatar">
                            <a
                              [routerLink]="'/patients/doctor-profile'"
                              class="avatar avatar-sm mr-2"
                            >
                              <img
                                class="avatar-img rounded-circle"
                                src="assets/img/doctors/doctor-thumb-03.jpg"
                                alt="User Image"
                              />
                            </a>
                            <a [routerLink]="'/patients/doctor-profile'"
                              >Dr. Deborah Angel <span>Cardiology</span></a
                            >
                          </h2>
                        </td>
                        <td class="text-center">$75</td>
                        <td>
                          <span class="badge badge-pill bg-success-light"
                            >Paid</span
                          >
                        </td>
                        <td class="text-right">
                          <div class="table-action">
                            <a
                              href="javascript:void(0);"
                              class="btn btn-sm bg-info-light"
                            >
                              <i class="far fa-eye"></i> View
                            </a>

                            <a
                              href="javascript:void(0);"
                              class="btn btn-sm bg-success-light"
                            >
                              <i class="fas fa-check"></i> Accept
                            </a>
                            <a
                              href="javascript:void(0);"
                              class="btn btn-sm bg-danger-light"
                            >
                              <i class="fas fa-times"></i> Cancel
                            </a>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          30 Oct 2019
                          <span class="d-block text-info">9.00 AM</span>
                        </td>
                        <td>
                          <h2 class="table-avatar">
                            <a
                              [routerLink]="'/patients/doctor-profile'"
                              class="avatar avatar-sm mr-2"
                            >
                              <img
                                class="avatar-img rounded-circle"
                                src="assets/img/doctors/doctor-thumb-04.jpg"
                                alt="User Image"
                              />
                            </a>
                            <a [routerLink]="'/patients/doctor-profile'"
                              >Dr. Sofia Brient <span>Urology</span></a
                            >
                          </h2>
                        </td>
                        <td class="text-center">$100</td>
                        <td>
                          <span class="badge badge-pill bg-warning-light"
                            >Pending</span
                          >
                        </td>
                        <td class="text-right">
                          <div class="table-action">
                            <a
                              href="javascript:void(0);"
                              class="btn btn-sm bg-info-light"
                            >
                              <i class="far fa-eye"></i> View
                            </a>

                            <a
                              href="javascript:void(0);"
                              class="btn btn-sm bg-success-light"
                            >
                              <i class="fas fa-check"></i> Accept
                            </a>
                            <a
                              href="javascript:void(0);"
                              class="btn btn-sm bg-danger-light"
                            >
                              <i class="fas fa-times"></i> Cancel
                            </a>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          28 Oct 2019
                          <span class="d-block text-info">6.00 PM</span>
                        </td>
                        <td>
                          <h2 class="table-avatar">
                            <a
                              [routerLink]="'/patients/doctor-profile'"
                              class="avatar avatar-sm mr-2"
                            >
                              <img
                                class="avatar-img rounded-circle"
                                src="assets/img/doctors/doctor-thumb-05.jpg"
                                alt="User Image"
                              />
                            </a>
                            <a [routerLink]="'/patients/doctor-profile'"
                              >Dr. Marvin Campbell <span>Ophthalmology</span></a
                            >
                          </h2>
                        </td>
                        <td class="text-center">$350</td>
                        <td>
                          <span class="badge badge-pill bg-success-light"
                            >Paid</span
                          >
                        </td>
                        <td class="text-right">
                          <div class="table-action">
                            <a
                              href="javascript:void(0);"
                              class="btn btn-sm bg-info-light"
                            >
                              <i class="far fa-eye"></i> View
                            </a>

                            <a
                              href="javascript:void(0);"
                              class="btn btn-sm bg-success-light"
                            >
                              <i class="fas fa-check"></i> Accept
                            </a>
                            <a
                              href="javascript:void(0);"
                              class="btn btn-sm bg-danger-light"
                            >
                              <i class="fas fa-times"></i> Cancel
                            </a>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          27 Oct 2019
                          <span class="d-block text-info">8.00 AM</span>
                        </td>
                        <td>
                          <h2 class="table-avatar">
                            <a
                              [routerLink]="'/patients/doctor-profile'"
                              class="avatar avatar-sm mr-2"
                            >
                              <img
                                class="avatar-img rounded-circle"
                                src="assets/img/doctors/doctor-thumb-06.jpg"
                                alt="User Image"
                              />
                            </a>
                            <a [routerLink]="'/patients/doctor-profile'"
                              >Dr. Katharine Berthold
                              <span>Orthopaedics</span></a
                            >
                          </h2>
                        </td>
                        <td class="text-center">$250</td>
                        <td>
                          <span class="badge badge-pill bg-danger-light"
                            >Refunded</span
                          >
                        </td>
                        <td class="text-right">
                          <div class="table-action">
                            <a
                              href="javascript:void(0);"
                              class="btn btn-sm bg-info-light"
                            >
                              <i class="far fa-eye"></i> View
                            </a>

                            <a
                              href="javascript:void(0);"
                              class="btn btn-sm bg-success-light"
                            >
                              <i class="fas fa-check"></i> Accept
                            </a>
                            <a
                              href="javascript:void(0);"
                              class="btn btn-sm bg-danger-light"
                            >
                              <i class="fas fa-times"></i> Cancel
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /Refund Request Tab -->
        </div>
        <!-- Tab Content -->
      </div>
    </div>
  </div>
</div>
