<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="page-title">Add Blog</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="'/admin/'">Dashboard</a>
            </li>
            <li class="breadcrumb-item"><a href="javascript:(0);">TOS</a></li>
            <li class="breadcrumb-item active">Add legal informations</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body custom-edit-service">
            <!-- Add Blog -->
            <div class="card-body pt-0">
              <!-- Tab Menu -->
              <nav class="user-tabs mb-4">
                <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      href="#doc_overview"
                      data-toggle="tab"
                      >Legal informations fr</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#doc_locations" data-toggle="tab"
                      >Legal informations en</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#doc_reviews" data-toggle="tab"
                      >Legal informations de</a
                    >
                  </li>
                </ul>
              </nav>
              <!-- /Tab Menu -->

              <!-- Tab Content -->
              <div class="tab-content pt-0">
                <!-- Overview Content -->
                <div
                  role="tabpanel"
                  id="doc_overview"
                  class="tab-pane fade show active"
                >
                  <div class="service-fields mb-3">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group">
                          <label
                            >Legal informations text
                            <span class="text-danger">*</span></label
                          >
                          <angular-editor
                            placeholder="'Enter text here...'"
                            id="1"
                            [(ngModel)]="pageinfos.fr"
                            [config]="editorConfig"
                          ></angular-editor>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="submit-section">
                    <button
                      class="btn btn-primary submit-btn"
                      type="button"
                      (click)="submitlifr()"
                    >
                      Submit
                    </button>
                  </div>
                </div>

                <!-- /Overview Content -->

                <!-- Locations Content -->
                <div role="tabpanel" id="doc_locations" class="tab-pane fade">
                  <!-- Location List -->
                  <div class="service-fields mb-3">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group">
                          <label
                            >Legal informations text
                            <span class="text-danger">*</span></label
                          >
                          <angular-editor
                            placeholder="'Enter text here...'"
                            [(ngModel)]="pageinfos.en"
                            id="2"
                            [config]="editorConfig"
                          ></angular-editor>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="submit-section">
                    <button
                      class="btn btn-primary submit-btn"
                      type="button"
                      (click)="submitlien()"
                    >
                      Submit
                    </button>
                  </div>
                  <!-- /Location List -->
                </div>

                <!-- /Locations Content -->

                <div role="tabpanel" id="doc_reviews" class="tab-pane fade">
                  <div class="service-fields mb-3">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group">
                          <label
                            >Legal informations text
                            <span class="text-danger">*</span></label
                          >
                          <angular-editor
                            placeholder="'Enter text here...'"
                            [(ngModel)]="pageinfos.de"
                            id="3"
                            [config]="editorConfig"
                          ></angular-editor>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="submit-section">
                    <button
                      class="btn btn-primary submit-btn"
                      type="button"
                      (click)="submitlide()"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- /Add Blog -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Wrapper -->
