<div class="row">
  <div class="col-lg-12 d-flex">
    <div class="card flex-fill">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="account-card bg-success-light">
              <span>${{ income }}</span> Earned
            </div>
          </div>
          <div class="col-lg-6">
            <div class="account-card bg-warning-light">
              <span>${{ incometoday }}</span> On hold
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body pt-0">
        <!-- Tab Menu -->
        <nav class="user-tabs mb-4">
          <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
            <li class="nav-item">
              <a class="nav-link active" href="#pat_accounts" data-toggle="tab"
                >Accounts</a
              >
            </li>
          </ul>
        </nav>
        <!-- /Tab Menu -->

        <!-- Tab Content -->
        <div class="tab-content pt-0">
          <!-- Accounts Tab -->
          <div id="pat_accounts" class="tab-pane fade show active">
            <div class="card card-table mb-0">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover table-center mb-0">
                    <thead>
                      <tr>
                        <th>Client</th>
                        <th class="text-center">Direct income</th>
                        <th class="text-center">Peers income</th>
                        <th class="text-center">Total Amount</th>
                        <th>Status</th>

                        <th></th>
                      </tr>
                    </thead>
                    <tbody *ngIf="clients">
                      <tr *ngFor="let item of clients">
                        <td>
                          <h2 class="table-avatar">
                            <a
                              [routerLink]="'/patients/patient-profile'"
                              class="avatar avatar-sm mr-2"
                              ><img
                                class="avatar-img rounded-circle"
                                src="assets/img/patients/patient.jpg"
                                alt="User Image"
                            /></a>
                            <a
                              >{{ item.client.user.first_name }}
                              {{ item.client.user.last_name }}
                            </a>
                          </h2>
                        </td>
                        <td class="text-center">${{ item.income }}</td>
                        <td class="text-center">$0</td>
                        <td class="text-center">${{ item.income }}</td>
                        <td>
                          <span class="badge badge-pill bg-success-light"
                            >Paid</span
                          >
                        </td>
                        <td class="text-right">
                          <div class="table-action">
                            <a
                              href="javascript:void(0);"
                              class="btn btn-sm bg-info-light"
                            >
                              <i class="far fa-eye"></i> View details
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /Accounts Tab -->
        </div>
        <!-- Tab Content -->
      </div>
    </div>
  </div>
</div>
