

<div class="page-wrapper">
    <div class="content container-fluid">
       <div class="page-header">
          <div class="row">
             <div class="col-sm-12">
                <h3 class="page-title">View Order</h3>
                <ul class="breadcrumb">
                   <li class="breadcrumb-item active">Orders/View order</li>
                </ul>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-4">
             <div class="row">
                <div class="col-md-12">
                   <div class="card">
                      <div class="card-header" style="color: white; font-weight: bold ;background-color: #DADADA;">
                         New
                      </div>
                      <div class="card-body">
                         <p class="speciality">
                            Nordallee 85356  Germany
                         </p>
                      </div>
                   </div>
                </div>
             </div>
             <div class="row">
                <div class="col-md-12">
                   <div class="card">
                      <div class="card-header header-bg bold">
                         Description
                      </div>
                      <div class="card-body">
                         Though you can type the URL into the address bar, a navigation UI is straightforward for the user and more common.
                      </div>
                   </div>
                </div>
             </div>
             <div class="row">
                <div class="col-md-12">
                   <div class="card">
                      <div class="card-header header-bg bold">
                         Services
                      </div>
                      <ul class="list-group">
                         <li class="list-group-item">Cras justo odio</li>
                         <li class="list-group-item">Dapibus ac facilisis in</li>
                         <li class="list-group-item">Morbi leo risus</li>
                         <li class="list-group-item">Porta ac consectetur ac</li>
                         <li class="list-group-item">Vestibulum at eros</li>
                      </ul>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-md-8">
             <div class="row">
                <div class="col-md-12">
                   <div class="card">
                      <div class="card-header header-bg bold">
                         Information
                      </div>
                      <div class="card-body">
                         <span class="block-list">
                         <i class="fa fa-check-square"></i>  information1 example-tooltip-red
                         </span>
                         <span class="block-list">
                         <i class="fa fa-check-square"></i>  information1 example-tooltip-red
                         </span>
                         <span class="block-list">
                         <i class="fa fa-check-square"></i>  information1 example-tooltip-red
                         </span>
                      </div>
                   </div>
                </div>
             </div>
             <div class="row">
                <div class="col-md-12">
                   <div class="card">
                      <div class="card-header header-bg bold">
                         Accept / Decline
                      </div>
                      <div class="card-body">
                         <div class="card">
                            <div class="card-header">
                               <h6><b>Date of the customer appointment</b></h6>
                            </div>
                            <div class="card-body">
                               <table class="table table-striped mb-0">
                                  <tbody>
                                     <tr>
                                        <td style="width:10px !important;"><input type="checkbox" class="custom-control" id="check_accept  " ></td>
                                        <td>I have read and accepted <a href="#">the general terms and conditions</a></td>
                                     </tr>
                                     <tr>
                                        <td></td>
                                        <td>
                                           <button class="btn btn-primary btn-sm">Accept</button>
                                           <button  data-bs-toggle="modal" data-target="#cancel_order" class="btn btn-danger btn-sm ">Refuse</button>
                                        </td>
                                     </tr>
                                  </tbody>
                               </table>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="row" *ngIf="!statusNeu">
             <div class="col-md-4">
                <div class="row">
                   <div class="col-md-12">
                      <div class="card">
                         <div class="card-header" style="color: white; font-weight: bold ;background-color: orange;">
                            In Process
                         </div>
                         <div class="card-body">
                            <h5 class="title">
                               <strong>Soufiene Zouidi</strong>
                            </h5>
                            <p class="speciality">
                               Nordallee 25a Appart. N° 25<br />
                               85356 | state: München-Flughafen Germany
                            </p>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="row">
                   <div class="col-md-12">
                      <div class="card">
                         <div class="card-header header-bg bold">
                            Description
                         </div>
                         <div class="card-body">
                            Though you can type the URL into the address bar, a navigation UI is straightforward for the user and more common.
                         </div>
                      </div>
                   </div>
                </div>
                <div class="row">
                   <div class="col-md-12">
                      <div class="card">
                         <div class="card-header header-bg bold">
                            Services
                         </div>
                         <ul class="list-group">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="row">
                   <div class="col-md-12">
                      <div class="card">
                         <div class="card-header header-bg bold">
                            Company Info
                         </div>
                         <div class="card-body">
                            <div class="block-list"><span class="bold">Company: </span> Kais Company
                               <i class="fa fa-user fa-right"></i>
                               <i class="fa fa-chart-bar fa-right"></i>
                               <i class="fa fa-clone fa-right"></i>
                            </div>
                            <div class="block-list"><span class="bold">Order ID: </span>  100-210002</div>
                         </div>
                         <div class="card-footer">
                            <a [routerLink]="'#'">All companies Associated</a>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="row">
                   <div class="col-md-12">
                      <div class="card">
                         <div class="card-header header-bg bold">
                            Appointment
                         </div>
                         <div class="card-body">
                            20.11.2021 12:45
                         </div>
                      </div>
                   </div>
                </div>
                <div class="row">
                   <div class="col-md-12">
                      <div class="card">
                         <div class="card-header header-bg bold">
                            Information
                         </div>
                         <div class="card-body">
                            <span class="block-list">
                            <i class="fa fa-check-square"></i>  information1 example-tooltip-red
                            </span>
                            <span class="block-list">
                            <i class="fa fa-check-square"></i>  information1 example-tooltip-red
                            </span>
                            <span class="block-list">
                            <i class="fa fa-check-square"></i>  information1 example-tooltip-red
                            </span>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="row">
                   <div class="col-md-12">
                      <div class="card">
                         <div class="card-header header-bg bold">
                            Invoice
                         </div>
                         <div class="card-body">
                            <span class="block-list-invoice">
                            <span class="bold">Amount: </span> 150 €
                            </span>
                            <hr />
                            <span class="block-list-invoice">
                            <span class="bold">Deducation Amount: </span> 50 €
                            </span>
                            <hr />
                            <span class="block-list-invoice">
                            <span class="bold">Materials: </span> exmaple
                            </span>
                            <hr />
                            <span class="block-list-invoice">
                            <span class="bold">Total amount: </span> 100 €
                            </span>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="row">
                   <div class="col-md-12">
                      <div class="card">
                         <div class="card-header bold">
                            uploaded invoices
                         </div>
                         <div class="card-body">
                            <i>
                            No Invoices uploaded
                            </i>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="row">
                   <div class="col-md-12">
                      <div class="card">
                         <div class="card-header header-bg bold">
                            Notes
                         </div>
                         <div class="card-body">
                            <textarea class="form-control">Last note will be shown here</textarea>
                         </div>
                         <div class="card-footer">
                            <a [routerLink]="'#'">show All notes</a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    
    