<div class="page-wrapper">
   <div class="content container-fluid">
      <!-- Page Header -->
      <div class="page-header">
         <div class="row">
            <div class="col-sm-12">
               <h3 class="page-title">Files management</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a [routerLink]="'/admin/'">Admin</a></li>
                  <li class="breadcrumb-item active">Files management</li>
               </ul>
            </div>
         </div>
      </div>
      <div style="text-align:center">
  <button (click)="stif()" class="btn btn-primary">Click Me</button>
</div>
   </div>
</div>