<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <!-- Account Content -->
        <div class="account-content">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 col-lg-6 login-left">
              <img
                src="assets/img/forgot.png"
                class="img-fluid"
                alt="forgot password Banner"
              />
            </div>
            <div class="col-md-12 col-lg-6 login-right">
              <div class="login-header">
                <h3>{{ forgot.languages[serviceLang] }}</h3>
                <p class="small text-muted">
                  {{ enter.languages[serviceLang] }}
                </p>
              </div>

              <!-- Forgot Password Form -->
              <form>
                <div class="form-group" *ngIf="!errormail">
                  <input
                    type="email"
                    class="form-control"
                    required
                    placeholder="email"
                    [(ngModel)]="email"
                  />
                </div>
                <div class="form-group" *ngIf="errormail">
                  <input
                    type="email"
                    class="form-control"
                    required
                    placeholder="email"
                    [(ngModel)]="email"
                    style="border: 1px solid red"
                  />
                </div>
                <div class="text-right">
                  <a class="forgot-link" [routerLink]="'/login-page'">{{
                    remember.languages[serviceLang]
                  }}</a>
                </div>
                <button
                  class="btn btn-primary btn-block btn-lg login-btn"
                  type="submit"
                  (click)="sendforgetmail()"
                >
                  {{ reset.languages[serviceLang] }}
                </button>
              </form>
              <!-- /Forgot Password Form -->
            </div>
          </div>
        </div>
        <!-- /Account Content -->
      </div>
    </div>
  </div>
</div>
