<!-- Breadcrumb -->

<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content" *ngIf="blogsstoshow">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <!-- Blog Post -->
        <div class="blog" *ngFor="let blog of blogsstoshow">
          <div class="blog-image">
            <a [routerLink]="'/blog-details'" [queryParams]="{ id: blog.id }"
              ><img
                class="img-fluid"
                src="https://api.aroundorder.com:1337/blogs/{{ blog.id }}.jpg"
                style="height: 400px"
                alt="Post Image"
            /></a>
          </div>
          <h3 class="blog-title">
            <a [routerLink]="'/blog-details'" [queryParams]="{ id: blog.id }">{{
              blog.title
            }}</a>
          </h3>
          <div class="blog-info clearfix">
            <div class="post-left">
              <ul>
                <li>
                  <div class="post-author">
                    <a [routerLink]="'patients/doctor-profile'"
                      ><img
                        src="https://api.aroundorder.com:1337/blogs/hayfajarray.jpeg"
                        alt="Post Author"
                      />
                      <span
                        >{{ blog.author.first_name }}
                        {{ blog.author.last }}</span
                      ></a
                    >
                  </div>
                </li>
                <li>
                  <i class="far fa-clock"></i
                  >{{ blog.createdAt | date: "d MMM yyyy" }}
                </li>
                <br />
              </ul>
            </div>
            <div
              class="post-left"
              style="margin-top: 10px"
              *ngIf="blog.hashtags"
            >
              <ul>
                <li *ngFor="let item of blog.hashtags">
                  <i class="fa fa-tags"></i>{{ item.value }}
                </li>
              </ul>
            </div>
          </div>
          <div class="blog-content">
            <p
              [innerHTML]="blog.description"
              style="
                overflow: hidden;

                display: -webkit-box;
                -webkit-line-clamp: 7;
                line-clamp: 2;
                -webkit-box-orient: vertical;
              "
            ></p>
            <a [routerLink]="['/blog-details', blog.id]" class="read-more"
              >Read More</a
            >
          </div>
        </div>
        <!-- /Blog Post -->

        <!-- Blog Pagination -->
        <div class="row" *ngIf="blog">
          <div class="col-md-12">
            <div class="blog-pagination">
              <nav>
                <ul class="pagination justify-content-center">
                  <li
                    class="page-item"
                    *ngFor="let item of counter(numberofsteps); let i = index"
                    [ngClass]="
                      i == stepselected ? 'page-item active' : 'page-item'
                    "
                    (click)="changeblogs(i)"
                  >
                    <a class="page-link">{{ i + 1 }}</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <!-- /Blog Pagination -->
      </div>

      <!-- Blog Sidebar -->
      <div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar">
        <div class="blog-sticky">
          <!-- Search -->
          <div class="card search-widget">
            <div class="card-body">
              <form class="search-form">
                <div class="input-group">
                  <input
                    type="text"
                    placeholder="Search..."
                    class="form-control"
                  />
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- /Search -->

          <!-- Categories -->
          <div class="card category-widget">
            <div class="card-header">
              <h4 class="card-title">Blog Categories</h4>
            </div>
            <div class="card-body">
              <ul class="categories" *ngFor="let item of categss">
                <li>
                  <a
                    >{{ item["category.languages"][serviceLang] }}
                    <span>({{ item.numberOfCategory }})</span></a
                  >
                </li>
              </ul>
            </div>
          </div>
          <!-- /Categories -->

          <!-- Tags -->
          <div class="card tags-widget">
            <div class="card-header">
              <h4 class="card-title">Tags</h4>
            </div>
            <div class="card-body">
              <ul class="tags">
                <li *ngFor="let item of hashtagsi | slice: 0:30">
                  <a href="javascript:void(0)" class="tag">{{ item.value }}</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /Tags -->
        </div>
      </div>
      <!-- /Blog Sidebar -->
    </div>
  </div>
</div>
<!-- /Page Content -->
